.site-nav-left{
    width: 150px;
}
.menu-light,.menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.menu>li,.menu-light>li{
    padding-left:27px ;
}
 .menu a{
    color:rgb(196, 195, 195);
    transition: 0.3s ease color;
    cursor: pointer;
}
.menu-light li a{
    color:#333;
    transition: 0.3s ease color;
    cursor: pointer;
}
.menu li:hover a{
 color: white;
 text-decoration: none;
}
.menu-light li:hover a{
color: #d9121f;
text-decoration: none;
}

@media screen and (max-width:768px)
{
    .menu,.menu-light{
        display: none;
    }
    .menu-burger{
        display: block;
    }
}