.site-nav-left{
    width: 150px;
}
.menu-light,.menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.menu>li,.menu-light>li{
    padding-left:27px ;
}
 .menu a{
    color:rgb(196, 195, 195);
    transition: 0.3s ease color;
    cursor: pointer;
}
.menu-light li a{
    color:#333;
    transition: 0.3s ease color;
    cursor: pointer;
}
.menu li:hover a{
 color: white;
 text-decoration: none;
}
.menu-light li:hover a{
color: #d9121f;
text-decoration: none;
}



.shop-drop{
    position: absolute;
     right: 0px;
     top:-600px;
     width: 100%;
     transition: 0.5s ease;
     z-index: 100;
}
.shop-drop>div{
    display: grid;
    grid-template-rows: 280px;
    grid-template-columns: repeat(2,1fr);
}

 .boy-menu ,.girl-menu{
     background-repeat: no-repeat!important;
     background-position: center!important;
     background-size: cover !important;
     display: flex;
     justify-content: end;
     align-items: stretch;
    }
    .boy-menu h2{
        color: white;
    }
    .girl-menu h2{
     color: black;
 }
 .drop-head{
     font-size: 27px;
     font-weight: 400;
 }
.shop-drop li a{
 color:#333;
 font-size: 16px;
 font-weight: 300;
 transition: 0.3s ease color;
 text-decoration: none;
}
.shop-drop ul{
 list-style-type: none;
 display: flex;
 flex-wrap: wrap;
 margin: 0px;
 padding: 0px;
 margin-bottom: 16px;
}
.shop-drop li{
 flex: 0 0 50%;
}
.shop-drop li:hover a{
 text-decoration: none;
 color: #d9121f;
}
.menu-cont{
 width:350px;
}
.cat-button{
 color: white;
 font-size: 11px;
 padding:10px 18px 9px;
 margin-top: 16px;
 border-radius: 60px;
 transition: 0.3 ease;
 will-change: transform;
 transform: scale(1,1);
}
.boys-button{
 background: #fbb44a;
}
.girls-button{
 background: #f74588;

}
.cat-hover:hover a{
 transform:scale(1.1,1.1);
 text-decoration: none;
}
.menu-burger{
    display: none;
}
/* mobile burger */
.mobile{
    display: none;
}
@media screen and (max-width:768px){
    .mobile{
        display: block;
    }

.nav-3{
    height: 50px;
    border-bottom: 1px solid #e7e7e7;
}
.nav-3>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.right-icons{
    list-style-type:  none;
    padding:0px;
    margin: 0px;
    display: flex;
}
.right-icons li{
    padding-left: 30px;
}
.right-icons a{
    font-size: 20px;
    color: #333;
    transition: 0.3s ease;
}
.right-icons a:hover{
    color: #d9121f;
}
.menu-burger{
    color: #333;
    font-size: 20px;
    cursor: pointer;
}
.h-logo-cont{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.mobile-menu{
background: white;
width: 320px;
overflow-y: auto;
height: 100vh;
position: fixed;
top: 0px;
left: -95vw;
transition: 0.6s ease left;
}
.mobile-menu ul{

list-style-type: none;
}
.mobile-menu ul a{
    font-size: 16px;
    color:#333;
    font-weight: 600;
}
.mobile-menu ul a:hover{
text-decoration: none;
color:#333;
}
.mobile-menu li{
    border-bottom: 1px solid #ddd;
    padding: 15px 0px;
    margin: 0px;
}
.mobile-nav-sub{
    padding-left:15px !important;
    margin: 0px;
}
.mobile-nav-sub li:last-of-type{
    border: none;
    padding-bottom: 0px;
}
.mobile-nav-sub li a{
    font-weight: 400;
}
.close-button{
    color:#333;
    background: transparent;
    font-size: 20px;
    margin: 0px 20px;
    float: right;
}
.btn-cont{
    margin: 20px 20px;
    height: 30px;
}
.mobile-child-menu{
    float:right;
    cursor: pointer;
}
.mobile-nav-sub{
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease ;
}
}
@media screen and (max-width:768px)
{
    .menu,.menu-light{
        display: none;
    }
    .menu-burger{
        display: block;
    }
}