.f-sec1>div{
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns:repeat(4,1fr);
    
    color: white;
    align-items: center;
}
.f-sec1{
    background: #262626;
}
.col-head{
    color: white;
    text-decoration: none;
    grid-column: 2/3;
}
.col-subhead{
    grid-column: 2/3;
    color: rgb(89, 89, 89);
    font-weight: 300;
    line-height: 14px;
    font-size: 14px;
}
.col-head:hover {
    text-decoration: none;
    color: white;
}
.col-grid{
    display: grid;
    grid-template-columns: 40px 90%;
    align-items: center;
}
.col-icon>svg{
    width: 100%;
    height: 100%;
}
.col-icon{
    width: 30px;
    /* height: 30px; */
    grid-column: 1/2;
   grid-row: 1/3;
}
.contact-btn{
    color:#333;
    background: white;
    border-radius: 50px;
    padding:8px 30px 8px 30px;
    transition: 0.3s ease;
    font-weight: 600;
}
.contact-btn:hover{
    color:white;
    background: #d9121f;
    text-decoration: none;

}
.col{
    justify-self: center;
}
.f-sec2{
    background: #1f1f1f;

}
.details{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.d-col {
    color: white;
    padding: 22px 0px ;
}
.d-col-head{
    color: white;
    margin:18px 0px 35px 0px
}
.d-col-list{
    list-style-type: none!important;
    margin: 0px;
    padding: 0px;
}
.d-col-list>li>a{
    color:#808080;
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 13px;
}
.d-col-list>li>a:hover{
    color: white;
    text-decoration: none;
}
.f-logo{
    width: 180px;
    margin-top: 16px;
}
.address-head{
    margin-bottom: 0px;
}
.f-social-icon{
    margin-top: 10px;
}
.f-social-icon>a{
font-size: 25px;
margin-right: 20px;
cursor: pointer;
}
.form-head{
    color: white;
}
.f-sec3{
display: flex;
flex-wrap: wrap;
align-items: center;
padding-top: 22px!important;
padding-bottom: 28px!important;
}
.form-head{
    margin: 0px;
    font-size: 20px;
    font-family: 500!important;
    flex: 0 0 30%;
}
.contact-form{
    width: 70%;
}
input.email {
    margin: 0;
    height: 45px;
    background: #383838;
    border: none;
    color: #808080;
    border-radius: 100px;
    max-width: 265px;
    width:calc(100% - 120px);
    padding:12px 20px 11px 20px;
}
.f-subscribe {
    line-height: 1.6;
    font-weight: 600;
    text-transform: uppercase;
    color: #333333 ;
    background: #ffffff;
    margin: 0;
    height: 45px;
    margin-left: 15px;
    padding: 8px 30px ;
    border-radius: 100px;
    transition: 0.3s ease;
}
.f-subscribe:hover{
    color: white;
    background: #d9121f;
}
.f-copyright{
    padding-top:22px !important;
    padding-bottom: 28px!important;
    text-align: center;
    color: #808080;
}

#follow {
display: flex;
}
#follow>li>a{
    font-size: 25px!important;
}
#follow li{
    padding-right: 20px;
    margin-bottom: 0px;

}
.address-1,.address-2{
    color: white!important;
    cursor: default;
    font-size: 15px!important;
}
.plus-icon,.minus-icon,#find-head,#follow-head{
    display: none;
}
@media screen and (max-width:768px){
    .f-sec1{
        display: none;
    }
    .f-sec2 .details{
        grid-template-columns: 1fr;
    }
    .form-head{
        flex: 0 0 100%;
        margin-bottom: 30px;
    }
    .f-subscribe{
        padding: 8px 10px ;
    }
    .contact-form{
        width: 100%;
    }
    .f-dropdown{
        
        overflow: hidden;
        transition: 0.3s ease height;
    }
    .d-col-head{
        margin: 0px;
        cursor: pointer;
    }
    .plus-icon{
        float:right;
        display: inline;
    }
    #find-head{
        padding-bottom: 22px;
        display: block;
    }
    #follow-head{
        padding-top: 22px;
        display: block;
    }
    .minus-icon{
        float:right;
        display: inline;
    }
    #follow li{
        padding-top: 20px;
        }
}
.contact-float{
    list-style: none;
    position: fixed;
    bottom: 5%;
    right: 20px;
    background: transparent;
}
.contact-float>li>a{
    background: white;
    color: #333;
    border: 1px solid #333;
    border-radius: 50%;
    font-size: 25px;
   width:50px;
   height:50px;
   padding: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.3s ease;
   cursor: pointer;
}
.contact-float>li:hover>a{
    background-color: #333;
    color: white;
}